.mainLoginContainer {
  font-family: "Poppins", sans-serif;
  background-color: #181818; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  color: #f0f0f0;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.login-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.login-form .input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.login-form label {
  color: #bbb;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.2s;
}

.login-form input:focus {
  background-color: #444;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #ffdd61; /* Vibrant button color */
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
  background-color: #6a50e5;
  transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-box {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .login-box {
    padding: 1rem;
  }

  .login-button {
    padding: 0.5rem;
  }
}
